#API
API_TITLE="Nota api"
API_PORT=8000
API_HOST=0.0.0.0
API_DEBUG=True

#DATABASE
DB_HOST=localhost 
DB_PORT=5432
DB_NAME=main
DB_USERNAME=postgres
DB_PASSWORD=postgres

#AUTH
AUTH_ACCESS_TOKEN_EXPIRE_HOURS=1
AUTH_REFRESH_TOKEN_EXPIRE_DAYS=14
AUTH_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwH4PYXqrDtVoTyQCKnaI
uyELEnC67LZRQxuMQJA08anETD71rumsFz/iI7cV1x70/NodFV9bNGYnAMy89Emd
...
n0/5H9eHeXYDMtcrEOHITGUS3CbzNf16HCqlOGKUEB9abwIOlk71f4fKqbVlbOBh
AzP9897bQzdQVKBtxY6g+UxDYeLNypYXvfTuQ2dPMU/Nl0yv2+IcTBu9r7SuNdWI
bQIDAQAB
-----END PUBLIC KEY-----"
AUTH_private_key="-----BEGIN PRIVATE KEY-----
MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQDAfg9heqsO1WhP
JAIqdoi7IQsScLrstlFDG4xAkDTxqcRMPvWu6awXP+IjtxXXHvT82h0VX1s0ZicA
zLz0SZ3QrthCngiCO5BMVXv6psnM2f3pNYb8mKKAO4gNAJw8qbkv/3RWuKvkeJfQ
dCrCtM01CtLxzRjXxlKaqNddU+Bqi5mp/CNiVCyi/aECxfkz9J16FGKLUawd83X1
aPccDFyfT/kf14d5dgMy1ysQ4chMZRLcJvM1/XocKqU4YpQQH1pvAg6WTvV/h8qp
...
+R7wqmFpgCPE8GRbtxCTmt1DA41tXIhK0NdNcKMUh4VG6mO6Ii3dGEvqiI1t99Y5
2KmiiV9dlrREpRdkkuh80oFoto3fLzAPNk4dzPfuyQKBgQCkbAEkBUKGwlBxweNi
o7LCWAJRu/1eqtZXVComePIb6rjmzKmjcxxxo6IimATVeraAJQfsmD0H0wUErfp3
dOEqu9UnxA9Qz68o73NLKhakTmk2rq/E0KZ8kutqQ4LRgvlyS+5Bdr1VQ38U0PJi
ibVt5BUq639FGNot6uiZrXhfew==
-----END PRIVATE KEY-----"
