#API
SERVER_TITLE="Nota api"
SERVER_PORT=8000
SERVER_HOST=0.0.0.0
SERVER_DEBUG=True
SERVER_CORS_ORIGINS=["*"]

# BUSSINESS CONFIG

#DATABASE
DB_HOST=database
DB_PORT=5432
DB_NAME=main
DB_USERNAME=postgres
DB_PASSWORD=postgres

#AUTH
AUTH_ACCESS_TOKEN_EXPIRE_HOURS=1
AUTH_REFRESH_TOKEN_EXPIRE_DAYS=14
AUTH_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwH4PYXqrDtVoTyQCKnaI
uyELEnC67LZRQxuMQJA08anETD71rumsFz/iI7cV1x70/NodFV9bNGYnAMy89Emd
0K7YQp4IgjuQTFV7+qbJzNn96TWG/JiigDuIDQCcPKm5L/90Vrir5HiX0HQqwrTN
NQrS8c0Y18ZSmqjXXVPgaouZqfwjYlQsov2hAsX5M/SdehRii1GsHfN19Wj3HAxc
n0/5H9eHeXYDMtcrEOHITGUS3CbzNf16HCqlOGKUEB9abwIOlk71f4fKqbVlbOBh
AzP9897bQzdQVKBtxY6g+UxDYeLNypYXvfTuQ2dPMU/Nl0yv2+IcTBu9r7SuNdWI
bQIDAQAB
-----END PUBLIC KEY-----"
AUTH_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQDAfg9heqsO1WhP
JAIqdoi7IQsScLrstlFDG4xAkDTxqcRMPvWu6awXP+IjtxXXHvT82h0VX1s0ZicA
zLz0SZ3QrthCngiCO5BMVXv6psnM2f3pNYb8mKKAO4gNAJw8qbkv/3RWuKvkeJfQ
dCrCtM01CtLxzRjXxlKaqNddU+Bqi5mp/CNiVCyi/aECxfkz9J16FGKLUawd83X1
aPccDFyfT/kf14d5dgMy1ysQ4chMZRLcJvM1/XocKqU4YpQQH1pvAg6WTvV/h8qp
tWVs4GEDM/3z3ttDN1BUoG3FjqD5TENh4s3Klhe99O5DZ08xT82XTK/b4hxMG72v
tK411YhtAgMBAAECggEAKRCrnNbj19AIxvtuV9s+S7eeqlIw2o+BkhC2MM7i8JxQ
U5jJ5oUU0Mfw6UAlkWVaC/hHJJhZd3oEf5vuAqqS16J5Yerfc1McM2C4SI6c9g4a
aE5iTBCO+E7a9TUoX5uwtW/oxJh0mVLtxkuGFNAoCBUVT/76egvl8vcqrM8YTPo4
nCYP9tbsJ1IN2V75sHCDO0nyng4M1wT4SYgK28oU6fZEbJ+qo5rSoGDgzyFhBX/n
yromd+caWoXmLxWkytaIljJGnWJTATfyH2b8Lq0qdLcDnWdQy4SZL73Hu7uQ9HDf
K1E51AuHFaAeqWmkXvfFtH37D9wjKSnsUuRQVpI/SQKBgQDyOcggq5TA4TVntpi0
twNyboC80gCJUSFaoIrzgSYAgdGdSLwNtG/Not0m1vK1kAvp9WD8yzibwZa+wZ0k
aPsT5a1oDpqEFi/iskEsog/adJw7CDlQXLOtF4gieyGh+/RGePxKVj3O7sSt4Ccs
TLDK9CR60FccWZfTXJGlm0lUZQKBgQDLcEhL2MQB/O32csFQWHIxUx7nK1FnQsKs
vgMnYbyDO/aMmjg0RdG0eLfMdlqt/rqS9N00Lly7ynsPAfgEDsWMhL8YkDYJJvg8
8CRDmfq27Pk2K9RzJDG2wqL7Gvp8J1iSZB3UpEUceQ2q2O8buicJ2MLuqwRT3xF7
LQRZwJAPaQKBgQCGDP45PlujZr80d3QJRuNMd+UdGicb119bFU/wtL+ANlf38GHK
P9pD9mbncLt/SYmeX6LeI+VfJYK0bNf3Z3XULB6MYNCYWuMDVV0GQ2X8ot43OTTm
yXbSSxyW4IfbamFkgt40kYfBNph4FX34YTTSDM0HfrdGxDpmyWr9OHQblQKBgQCX
E8pMsSxWgZvCQlQ3M4eSA7VWXP/13Ekv+WfkLhvNpZEht0F36EWkbWWpLFeJETtC
+R7wqmFpgCPE8GRbtxCTmt1DA41tXIhK0NdNcKMUh4VG6mO6Ii3dGEvqiI1t99Y5
2KmiiV9dlrREpRdkkuh80oFoto3fLzAPNk4dzPfuyQKBgQCkbAEkBUKGwlBxweNi
o7LCWAJRu/1eqtZXVComePIb6rjmzKmjcxxxo6IimATVeraAJQfsmD0H0wUErfp3
dOEqu9UnxA9Qz68o73NLKhakTmk2rq/E0KZ8kutqQ4LRgvlyS+5Bdr1VQ38U0PJi
ibVt5BUq639FGNot6uiZrXhfew==
-----END PRIVATE KEY-----"
